<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="AiSyncClient.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <AiSyncClient.Properties.Settings>
            <setting name="CommPort" serializeAs="String">
                <value>26980</value>
            </setting>
            <setting name="DataPort" serializeAs="String">
                <value>28524</value>
            </setting>
            <setting name="Address" serializeAs="String">
                <value>127.0.0.1</value>
            </setting>
            <setting name="Volume" serializeAs="String">
                <value>100</value>
            </setting>
        </AiSyncClient.Properties.Settings>
    </userSettings>
</configuration>