<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="ai_sync.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="ai_sync.Settings1" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <ai_sync.Settings>
            <setting name="VlcPath" serializeAs="String">
                <value />
            </setting>
            <setting name="ClientHost" serializeAs="String">
                <value />
            </setting>
            <setting name="ClientPort" serializeAs="String">
                <value>8090</value>
            </setting>
            <setting name="ServerHost" serializeAs="String">
                <value>localhost</value>
            </setting>
            <setting name="ServerPort" serializeAs="String">
                <value>8090</value>
            </setting>
            <setting name="LastMode" serializeAs="String">
                <value>0.0.0.0</value>
            </setting>
            <setting name="VlcPort" serializeAs="String">
                <value>8080</value>
            </setting>
        </ai_sync.Settings>
        <ai_sync.Settings1>
            <setting name="VlcPath" serializeAs="String">
                <value />
            </setting>
            <setting name="Host" serializeAs="String">
                <value />
            </setting>
        </ai_sync.Settings1>
    </userSettings>
</configuration>