@use "./theme.scss";

#form-container {
    padding: 8px;
    border-radius: 3px;
    width: 480px;
    background-color: theme.$grey-3;
    border: 1px solid theme.$grey-7;
    margin: auto;

    #login-label {
        display: block;
        width: 100%;
        text-align: center;
    }

    input[type="password"] {
        width: calc(100% - 6px); /* 2px padding + 1px border on each side */
        text-align: center;

        margin-bottom: 12px;
    }

    input[type="password"], input[type="submit"], select {
        font-size: 1.25rem;
        border-radius: 3px;
        color: theme.$near-white;
        background-color: theme.$grey-8;
        border: 1px solid theme.$grey-c;
        transition: background-color 0.125s;

        &:focus, &:hover, &:active {
            background-color: theme.$grey-b;
            outline: none;
        }

        &:not([type="password"]) {
            cursor: pointer;
            height: 36px;

            width: 100px;
        }
    }

    select {
        float: right;
        padding: 0 0 0 6px;
    }
}
